:root {
    --border: rgba(140, 29, 50);
    --light: white;
    --navy: rgba(7, 4, 21);
    --hover:  rgba(254, 141, 99);
    --beige: #CCBCBC;
    --blush: #F1E3E4;
}

a {
    color: black;
    display: block;
}

a:hover,
a:hover {
    color: #f12d51;
}

.aboutmelinks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    display: block;
    padding-top: 5px;
    font-size: 25px;
    height: 20vh;
    width: 25vw;
    margin: auto;
    margin-left: -50px;
}

#resume {
    margin-left: -150px;
}

#linkedin {
    margin-right: -150px;
}

.About-Me {
    width: 80vw;
    height: 70vh;
    margin: auto;
    margin-top: 50px;
    background: var(--blush);
    margin-bottom: 50px;
}

.avatar {
    display: block;
    display: flex;
    flex-wrap: wrap;
    float: left;
    margin: auto;
}
  
.profile-img {
    margin: 50px 0 50px 0;
    border-radius: 50%;
}

.text {
    /* border: 2px solid black; */
    background-color: var(--blush);
    padding: 0 50px 0 50px;
    color: black;
    font-size: 20px;
}
  