a {
    color: black;
    display: block;
}

a:hover,
a:hover {
    color: #f12d51;
}

.aboutmelinks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    display: block;
    padding-top: 5px;
    font-size: 25px;
    height: 20vh;
    width: 25vw;
    margin: auto;
    margin-left: -50px;
}

#resume {
    margin-left: -150px;
}

#linkedin {
    margin-right: -150px;
}

.About-Me {
    width: 80vw;
    height: 75vh;
    margin: auto;
    margin-top: 50px;
    background: var(--blush);
    margin-bottom: 100px;
}

.avatar {
    display: block;
    display: flex;
    flex-wrap: wrap;
    float: left;
    margin: auto;
}
  
.profile-img {
    margin: 50px 0 50px 0;
    border-radius: 50%;
}

.text {
    /* border: 2px solid black; */
    background-color: var(--blush);
    padding: 0 50px 0 50px;
    color: black;
    font-size: 20px;
}

@media only screen and (max-width: 900px) {
    .About-Me {
        height: 100vh;
    }

   #resume {
    margin-left: 0;
    }

    #linkedin {
    margin-right: 0;
    }
}

@media only screen and (max-width: 740px) {
    .About-Me {
        height: 150vh;
    }

    .text {
        padding: 5px
    }

    .text p {
        font-size: 15px;
    }

    .aboutmelinks {
        /* border: 2px solid black; */
        margin: auto;
        font-size: 20px;
        margin-bottom: 20px;
    }

    .avatar {
        transform: scale(0.80);
        margin: auto;
    }
    
    .profile-img {
        margin: 25px 0 25px 0;
    }
    
    div img {
        float: none;
        margin: auto;
    }
}
  