a {
    color: black;
    display: block;
}

a:hover,
a:hover {
    color: #f12d51;
}

aside {
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: column;
    height: 60vh;
    width: 35vw;
    margin: auto;
    /* border: 2px solid black; */
}

.Contact-Me {
    width: 80vw;
    height: 65vh;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background: var(--blush);
}

.aboutlinks {
    font-family: 'Tenor Sans', sans-serif;
    display: block;
    font-size: 25px;
    height: 20vh;
    width: 20vw;
    margin-top: 0px;
    background-color: var(--blush);
    margin: auto;
    /* border: 2px solid black; */
}

.avatar {
    display: block;
    margin: auto;
}

.profile-img {
    border-radius: 50%;
    margin: auto;
}

.form-container {
    display: block;
    margin: auto;
    margin-bottom: 40px;
    height: 45vh;
    width: 40vw;
    padding-right: 70px;
    background-color: var(--blush);
    /* border: 2px solid black; */
}

.form-container p {
    color: black;
    font-size: 20px;
}

@media only screen and (max-width: 900px) {
    .Contact-Me {
        height: auto;
    }

    aside {
        /* border: 2px solid black; */
        width: 80vw;
        height: 50vh;
        margin: -15px 0 0 0;
        flex-direction: row;
    }

    .avatar {
        padding-left: 50px;
    }


    .aboutlinks {
        /* border: 2px solid black; */
        margin: auto;
        width: 30vw;
        padding-right: 65px;
        padding-top: 20px;
    }

    .form-container {
        height: 35vh;
        width: 80vw;
        /* border: 2px solid black; */
        margin: auto;
        margin-top: -40px;
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 740px) {
    .Contact-Me {
        height: auto;
    }

    aside {
        /* border: 2px solid black; */
        margin: 0;
        height: 60vh;
        width: 80vw;
    }

    .aboutlinks {
        height: 15vh;
        /* border: 2px solid black; */
        margin: auto;
        margin-top: 0px;
        margin-bottom: 0;
        font-size: 20px;
        padding: 0;
        width: 60vw;
    }

    .avatar {
        transform: scale(0.80);
        margin: 0;
        padding: 0;
    }

    div img {
        float: none;
        margin: auto;
    }

    .form-container {
        /* border: 2px solid black; */
        margin-top: 5px;
        padding: 20px;
        height: 60vh;
    }
}