.project {
    width: 100%;
    color: var(--light);
}

p {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 20px;
}
  
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    margin: auto;
}
  
.code-card {
    border-style: solid;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.597);
    position: relative;
    border-color: var(--border);
    border-width: 2px;
    padding: 10px;
    flex: 0 0 400px;
    height: 40vh;
    width: 80vw;
    margin: 40px;
    background-color: var(--blush);
}
  
.card-header {
    font-family: 'Tenor Sans', sans-serif;
    text-align: center;
    border-radius: 6px;
    margin-top: -30px;
    /* width: 30vw; */
    font-size: 25px;
    border-style: solid;
    border-color: var(--border);
    color: var(--light);
    background: var(--navy);
    border-width: 2px;
    padding: 10px;
}
  
.muvd {
    background-image: url(../../assets/images/muvd.jpg);
    background-size: 575px;
    background-repeat: no-repeat;
    background-position: left -60px bottom -90px;
    background-color:var(--blush);
}
  
.muvd-text {
    text-decoration: none;
    color: black;
    text-shadow: none;
    display: block;
    position: relative;
    width: 45.5vw;
    height: 34.1vh;
    float: right;
    margin-right: -10px;
    margin-top: -12px;
    padding: 20px 20px 10px 20px;
    /* border: 2px solid black; */
    background-color: var(--blush);
}
  
.note-taker {
    background-image: url(../../assets/images/ScreenCapture-NoteTakerApp.jpg);
    background-size: 645px;
    background-repeat: no-repeat;
    background-position: left -60px bottom -90px;
}

.unpuffd {
    background-image: url(../../assets/images/ScreenCapture-Unpuffd.jpg);
    background-size: 575px;
    background-repeat: no-repeat;
    background-position: left;
 }
  
.unpuffd-text {
    text-decoration: none;
    color: black;
    text-shadow: none;
    display: block;
    position: relative;
    width: 40vw;
    height: 36.2vh;
    float: right;
    margin-right: -10px;
    margin-top: -12px;
    padding: 20px 20px 10px 20px;
    /* border: 2px solid black; */
    background-color: var(--blush);
}
  
.tech-blog {
    background-image: url(../../assets/images/ScreenCapture-the-mvc-techblog.jpg);
    background-size: 490px;
    background-repeat: no-repeat;
    background-position: left;
}
  
.techblog-text {
    text-decoration: none;
    color: black;
    text-shadow: none;
    display: block;
    position: relative;
    width: 40vw;
    height: 34.1vh;
    float: right;
    margin-right: -10px;
    margin-top: -12px;
    padding: 20px 20px 10px 20px;
    /* border: 2px solid black; */
    background-color: var(--blush);
}

.icon {
    font-size: 30px;
    /* float: right; */
    color: white;
    display: inline;
    padding-left: 20px;
}

a:hover,
a:hover {
    color: #f12d51;
}

@media only screen and (max-width: 900px) {
    .code-card {
        height: 50vh;
        width: 80vw;
    }

    .muvd-text,
    .unpuffd-text,
    .techblog-text {
        height: 44.2vh;
    }

    .muvd,
    .unpuffd,
    .tech-blog,
    .note-taker {
        background-position: left -160px bottom -40px;
        background-size: 650px;
    }
    
    .tech-blog {
        background-position: left -30px bottom -30px;
        background-size: 650px;
    }
}

@media only screen and (max-width: 576px) {
    .code-card {
        height: 30vh;
        width: 80vw;
    }

    .muvd-text,
    .unpuffd-text,
    .techblog-text {
        /* height: 70vh; */
        display: none;
    }

    .muvd,
    .unpuffd,
    .tech-blog,
    .note-taker {
        /* background-position: left top; */
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
    }
}