a {
    color: black;
    display: block;
}

a:hover,
a:hover {
    color: #f12d51;
}

.project {
    width: 100%;
    color: var(--light);
    height: 185vh;
    margin: auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    margin: auto;
}
  
.code-card {
    position: relative;
    border: 2px solid var(--border);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.597);
    padding: 10px;
    height: 350px;
    width: 80vw;
    margin: 40px;
    background-color: var(--blush);
}
  
.card-header {
    font-family: 'Tenor Sans', sans-serif;
    text-align: center;
    border-radius: 6px;
    margin-top: -30px;
    font-size: 25px;
    border: 2px solid var(--border);
    color: var(--light);
    background: var(--navy);
    padding: 10px;
}
  
.muvd {
    background-image: url(../../assets/images/muvd.jpg);
    background-size: 575px;
    background-repeat: no-repeat;
    background-position: left -60px bottom -90px;
    background-color:var(--blush);
}

.note-taker {
    background-image: url(../../assets/images/ScreenCapture-NoteTakerApp.jpg);
    background-size: 645px;
    background-repeat: no-repeat;
    background-position: left -60px bottom -90px;
}

.unpuffd {
    background-image: url(../../assets/images/ScreenCapture-Unpuffd.jpg);
    background-size: 575px;
    background-repeat: no-repeat;
    background-position: left;
}
  
.tech-blog {
    background-image: url(../../assets/images/ScreenCapture-the-mvc-techblog.jpg);
    background-size: 490px;
    background-repeat: no-repeat;
    background-position: left;
}

.cardtext {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 18.25px;
    color: black;
    display: block;
    position: relative;
    width: 45.5vw;
    height: 295.5px;
    float: right;
    margin-right: -10px;
    margin-top: -12px;
    padding: 20px 20px 10px 20px;
    background-color: var(--blush);
    border-bottom: 2px solid var(--border);
}

.icon {
    font-size: 30px;
    color: white;
    display: inline;
    padding-left: 20px;
}

@media only screen and (max-width: 900px) {
    .code-card {
        height: 350px;
        width: 80vw;
    }

    .cardtext {
        height: 295.5px;
        border-bottom: 1px solid var(--border);
    }

    .project {
        height: auto;
    }
}

@media only screen and (max-width: 576px) {
    .project {
        height: auto;
    }
    
    .cardtext {
        display: none;
    }

    .code-card {
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
    }
}