a {
    color: black;
    display: block;
}

a:hover,
a:hover {
    color: #f12d51;
}

.Resume {
    width: 80vw;
    height: 65vh;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background: var(--blush);
}

.info {
    display: block;
    margin: auto;
    padding-top: 50px;
    margin-bottom: 40px;
    height: 45vh;
    width: 40vw;
    padding-right: 70px;
    background-color: var(--blush);
    font-size: 22px;
    /* border: 2px solid black; */
}

#resumedownload {
    font-family: 'Tenor Sans', sans-serif;
    text-decoration: underline;
    margin: auto;
}

@media only screen and (max-width: 900px) {
    .Resume {
        height: auto;
    }

    .info {
        height: 25vh;
        width: 80vw;
        margin-top: -50px;
        margin-bottom: 50px;
        padding-right: 0px;
    }
}

@media only screen and (max-width: 740px) {
    .Resume {
        height: auto;
    }

    .info {
        padding: 20px;
        /* height: 50vh; */
        margin: 0;
        margin-bottom: 25px;
        font-size: 20px;
    }
}