a {
    color: black;
    display: block;
}

a:hover,
a:hover {
    color: #f12d51;
}

aside {
    /* border: 2px solid black; */
    display: block;
    margin-left: 30px;
    height: 70vh;
    /* width: 20vw; */
    margin: auto;
}

.Resume {
    width: 80vw;
    height: 70vh;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background: var(--blush);
}

.aboutlinks {
    font-family: 'Tenor Sans', sans-serif;
    display: flex;
    flex-wrap: wrap;
    display: block;
    padding-top: 5px;
    font-size: 25px;
    height: 20vh;
    width: 20vw;
    text-align: center;
    margin-top: 400px;
    margin: auto;
    background-color: var(--blush);
    /* border: 2px solid black; */
}

.info {
    /* border: 2px solid black; */
    display: block;
    margin: auto;
    margin-bottom: 40px;
    height: 50vh;
    width: 40vw;
    padding-right: 70px;
    background-color: var(--blush);
    font-size: 25px;
}

#resumedownload {
    font-family: 'Tenor Sans', sans-serif;
    text-decoration: underline;
    margin: auto;
}

@media only screen and (max-width: 900px) {
    .Resume {
        height: 75vh;
    }

    .info {
        height: 35vh;
        width: 80vw;
        margin-top: -50px;
        margin-bottom: 50px;
        padding-right: 0px;
    }
}

@media only screen and (max-width: 740px) {
    .Resume {
        height: 80vh;
    }

    aside {
    /* border: 2px solid black; */
    display: block;
    /* margin-left: 30px; */
    height: 70vh;
    width: 80vw;
    margin: auto;
    }

    .profile-img {
        margin: 0;
    }

    .info {
        padding: 20px;
        height: 50vh;
    }
}