.navbar {
    background-color: var(--navy);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Encode Sans SC', sans-serif;
    color: var(--light);
    border-bottom: 3px solid var(--border);
}

div h1 {
    display: inline-block;
    font-size: 55px;
    padding-left: 15px;
    margin-bottom: 0px;
    margin-top: -5px;
    color: var(--light);
    text-shadow: 2px 3px 5px rgba(68, 68, 68, 0.844);
}
  
nav {
    font-size: 30px;
    margin: 0;
}

nav ul {
    font-family: 'Tenor Sans', sans-serif;
    list-style-type: none;
    margin-bottom: 0px;
}

nav li:hover,
nav li:hover li {
      border-bottom: 3px solid white;
      /* background-color: rgba(121, 0, 26, 0.336); */
      background-color: #470023a1;
      transition-property: opacity, left;
      transition: .25s ease-in-out;
}
  
nav ul li {
    display: inline-block;
    padding: 0 15px 0 15px;
    padding-bottom: 10px;
    color: var(--light);
    padding-top: 20px;
}
  