a {
    color: black;
    display: block;
}

a:hover,
a:hover {
    color: #f12d51;
}

footer {
    position: absolute;
    bottom: 0;
    color: var(--border);
    width: 100%;
    height: 90px;
    padding: 7px 0 0 0;
    font-family: 'Tenor Sans', sans-serif;
    text-align: center;
    background-color: var(--beige);
}

footer a {
    display: inline;
    font-size: 30px;
}

#footer {
    font-size: 15px;
    color: black;
    /* display: inline; */
    /* border: 2px solid black; */
}